@model Web_day_tieng_Anh.Models.Course

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    @foreach (var lesson in Model.Lessons)
    {
        <li>@lesson.LessonName</li>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>

