@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet" />

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .login-form {
        background-color: #5fcf80;
        background-image: linear-gradient(180deg, #5fcf80 10%, #00C00F 100%);
        border: 2px solid #5fcf80;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }

    .form-input {
        background-color: #ebebeb !important;
    }

    .form-floating label {
        color: #000 !important;
    }

    .form-floating span {
        color: #dc3545 !important;
    }

    .social-login {
        color: #000;
    }

    .social-login-icon {
        color: #3b5998;
    }

    .social-login-icon-gmail {
        color: #db4437;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <section class="text-white login-form">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center text-black">ĐĂNG KÝ</h2>
                    <hr class="bg-light" />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <!-- Full Name Input -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FullName" class="form-control form-input" autocomplete="fullname" aria-required="true" placeholder="Full Name" />
                        <label asp-for="Input.FullName">Họ Tên</label>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>

                    <!-- Email Input -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control form-input" autocomplete="username" aria-required="true" placeholder="Email" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password Input -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control form-input" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <label asp-for="Input.Password">Mật khẩu</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-input" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                        <label asp-for="Input.ConfirmPassword">Nhập lại mật khẩu</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Role Select -->
                    <div class="form-floating mb-3">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control form-input">
                            <option disabled selected>- Select Role -</option>
                        </select>
                    </div>

                    <!-- Register Button -->
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-dark btn-primary">Đăng ký</button>
                </form>

                <!-- Social login buttons -->
                <div class="mt-3 text-center">
                    <!-- Facebook login button -->
                    <a href="#" class="social-login text-black">
                        <i class="fab fa-facebook social-login-icon"></i> Register with Facebook
                    </a>
                </div>
                <div class="mt-1 text-center">
                    <!-- Gmail login button -->
                    <a href="#" class="social-login text-black">
                        <i class="fab fa-google social-login-icon-gmail"></i> Register with Gmail
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
@* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                <label asp-for="Input.FullName">FullName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control" >
                    <option disabled selected>-Select Role-</option>
                    
                </select>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* <script>
    document.getElementById('checkoutForm').addEventListener('submit', function (event) {
        var phoneNumber = document.getElementById('Notes').value.trim(); // Lấy nội dung nhập vào và loại bỏ các khoảng trắng ở đầu và cuối
        var phoneNumberPattern = /^\d{11,12}$/; // Mẫu để kiểm tra nội dung nhập vào là 11 hoặc 12 chữ số

        // Kiểm tra xem nội dung nhập vào có phải là số và có đủ 11 hoặc 12 chữ số không
        if (!phoneNumberPattern.test(phoneNumber)) {
            // Nếu không đạt yêu cầu, hiển thị thông báo lỗi và ngăn việc gửi form
            document.getElementById('phoneError').style.display = 'inline';
            event.preventDefault();
        }
    });
</script> *@