@model Web_day_tieng_Anh.Models.Question

@{
    ViewData["Title"] = "Add";
}

<div class="container-fluid">
<h1>Add Question</h1>

<head>
    <link href="~/admin/css/styles.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/tvv1fwf3cnhtvlfxql1sp92p7vuw7mk3gj167aahzkwc68d6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'markdown',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        });
    </script>
</head>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestId" value="@ViewBag.TestId" />

            <div class="form-group">
                <label asp-for="QuestionContent" class="control-label"></label>
                <input asp-for="QuestionContent" class="form-control" />
                <span asp-validation-for="QuestionContent" class="text-danger"></span>
            </div>

            @for (int i = 0; i < 4; i++)
            {
                <div class="form-group">
                    <label for="Answers_@(i)__AnswerContent" class="control-label">Answer @(char.ConvertFromUtf32(65 + i))</label>
                    <input id="Answers_@(i)__AnswerContent" name="Answers[@i].AnswerContent" class="form-control" />
                    <input type="checkbox" id="Answers_@(i)__IsCorrect" name="Answers[@i].IsCorrect" value="true" /> Correct
                    <input type="hidden" name="Answers[@i].IsCorrect" value="false" />

                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="color: #000;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Questions" asp-action="Index" asp-route-testId="@ViewBag.TestId" class="btn btn-primary mx-2 mb-3" style="color: #000;">Back to list</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                var checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                if (checkedCheckboxes.length > 1) {
                    alert('Bạn chỉ được chọn một đáp án đúng.');
                    checkbox.checked = false;
                }
            });
        });
    });
</script>