<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="Aa5PEOY26vNKH9fC34wLFfVtmTBDr5icd-Cv8d31jYrFvro9_WOalJMTnbH4c5reYqgK-5ESMUhI6ZK-" />
      <add name="clientSecret" value="EJzt_MFMZfcSf2-eV5AWzOaV442L66ovPIjb9z0lZbCJvzFzdZtGunIGHg_FwSt1VihfNO4-g01BCR6v" />
    </settings>
  </paypal>



</configuration>