@model Web_day_tieng_Anh.Models.Lesson

@{
    ViewData["Title"] = "Display";
}

<h1>@Html.DisplayFor(model => model.LessonName)</h1>

<div>
    
    <hr/>
    <article>
        @Html.Raw(Model.LessonDescription)
    </article>
       
        
           
        
    
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.LessionId">Edit</a> |
    
    <a asp-controller="Lessons" asp-action="Index" asp-route-courseId="@Model.CourseId">Back to list</a>
</div>
