@model Web_day_tieng_Anh.Models.Lesson

@{
    ViewData["Title"] = "Update";
}
<link href="~/admin/css/styles.css" rel="stylesheet">
<head>
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/tvv1fwf3cnhtvlfxql1sp92p7vuw7mk3gj167aahzkwc68d6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'markdown',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
</head>
<div class="container-fluid">
<h4>Lesson</h4

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LessionId" />
           @* <input type="hidden" asp-for="ImgUrl" /> *@
           
            <div class="form-group">
                <label asp-for="LessonName" class="control-label"></label>
                <input asp-for="LessonName" class="form-control" />
                <span asp-validation-for="LessonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonDescription" class="control-label"></label>
                @* <input asp-for="LessonDescription" class="form-control" /> *@
                <textarea id="tiny" name="LessonDescription" class="form-control">@Html.Raw(Model.LessonDescription)</textarea>
                <span asp-validation-for="LessonDescription" class="text-danger"></span>
            </div>
           <div class="form-group mt-2">
                <label asp-for="ImgUrl">Product Video</label>
                <input type="file" asp-for="ImgUrl" name="videoUrl" class="form-control" id="videoInput" />
                <video class="mt-2" width="400" controls id="previewVideo">
                    @if (!string.IsNullOrEmpty(Model.ImgUrl))
                    {
                        <source src="@Model.ImgUrl" type="video/mp4">
                    }
                    Your browser does not support HTML video.
                </video>
            </div>

            
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                <button type="submit" value="Save" class="btn btn-primary" style="color: #000;">Update</button>
            
        </form>
    </div>
</div>

<div>
    <a asp-controller="Lessons" asp-action="Index" asp-route-courseId="@Model.CourseId" class="btn btn-warning mt-3 mb-3" style="color: #000;">Back to list</a>
</div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    document.getElementById('videoInput').addEventListener('change', function (e) {
        var video = document.getElementById('previewVideo');
        var videoUrl = URL.createObjectURL(this.files[0]);
        video.src = videoUrl;
    });
    </script>

}
