@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://kit.fontawesome.com/00288d6413.js"></script>
    <title>Document</title>
</head>
<body>
<!-- Home section  -->
    
        <section class="main-home" id="main-home">
            <div class="content">
                <h3 class="title-h3">A New Way to Learn</h3>
                <p class="title-p">LeetCode is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.</p>
                
                <a href="login.html" class="btn-button btn-button1"> Create account !</a>
            </div>   
        </section>


<!-- Start Exploring section -->
        <section class="exploring" id="exploring">
            <div class="content-1">
                <h3 class="title-h3">Start Exploring</h3>
                <p class="title-p">Explore is a well-organized tool that helps you get the most out of LeetCode by providing structure to guide your progress towards the next step in your programming career.</p>
                <a href="#"> Get Started  ></a>
            </div>
            


        </section>

</body>
</html>
